* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Roboto, sans-serif;
}

.dark-blue {
    background-color: #1F2937;
    padding: 15px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.nav {
    display: flex;
    gap: 25px;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}